<p id="notice"><%= notice %></p>
<% if current_page?(locale: :ua) %>
  <div class="row">
    <div class="col s12 m6 offset-m3 ">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag @entertainment.photo.url(:large) %>
            <%if @entertainment.black == true%>
              <span class="card-title truncate", style="color: black;"><td><%= @entertainment.title %></td></span>
            <%else%>
              <span class="card-title truncate"><td><%= @entertainment.title %></td></span>
            <%end%>      
        </div>
        <div class="card-content">
          <p><%= simple_format(@entertainment.description)%></p>
        </div>
      </div>
    </div>
  </div>

<% elsif current_page?(locale: :ru) %>
  <div class="row">
    <div class="col s12 m6 offset-m3 ">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag @entertainment.photo.url(:large) %>
            <%if @entertainment.black == true%>
              <span class="card-title truncate", style="color: black;"><td><%= @entertainment.title2 %></td></span>
            <%else%>
              <span class="card-title truncate"><td><%= @entertainment.title2 %></td></span>
            <%end%>      
        </div>
        <div class="card-content">
          <p><%= simple_format(@entertainment.description2)%></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container center">
  <%= link_to t(:back), entertainments_path, class: "waves-effect waves-light btn grey lighten-3"  %>
  <% if current_user.present? and current_user.admin? %>
	<%= link_to t(:edit), edit_entertainment_path(@entertainment), class: "waves-effect waves-light btn" %> 
	<%= link_to t(:destroy), @entertainment, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
  <% end %>
</div>
