<div class="container">
<% if current_user.present? and current_user.admin? %>
<%= form_for(post_slide, html: {multipart: true}, class: "col s12") do |f| %>
  <% if post_slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_slide.errors.count, "error") %> prohibited this post_slide from being saved:</h2>

      <ul>
      <% post_slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field col s12">
    <%= f.label :title %>
    <%= f.text_field :title, class: "validate" %>
  </div>

  <div class="input-field col s12">
    <%= f.label :title2 %>
    <%= f.text_field :title2, class: "validate" %>
  </div>

  <div class="input-field col s12">
    <%= f.label :description %>
    <%= f.text_field :description, class: "validate" %>
  </div>

  <div class="input-field col s12">
    <%= f.label :description2 %>
    <%= f.text_field :description2, class: "validate" %>
  </div>
  
  <div class="input-field col s6">
  
  <%= collection_select :post_slide, :position_id, Position.all, :id, :align, {prompt: "select position"} %>
  </div>

  <div class="input-field col s6">
    <%= f.check_box :black, id: "test5" %>
    <%= f.label (:black), for: "test5"  %> 
  </div>

  <div class="file-field input-field">
      <div class="btn">
        <span><%= t(:photo)%></span>
        <%= f.file_field :photo %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
  </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit t(:submit_post_slide) %>
  </div>  
<% end %>

<% end %>
</div>
<script>
    $('select').material_select();
</script>