<style>
  .slider .indicators .indicator-item.active {
    background-color: grey;
  }
</style>
<% if current_user.present? and current_user.admin? %>
<p id="notice"><%= notice %></p>
<% if current_page?(locale: :ua) %>
  <div class="slider">
    <ul class="slides">
    <% @post_slides.each do |post_slide| %>
      <li>
      <% if post_slide.photo.present?%>
        <%= image_tag post_slide.photo.url(:large)%>
        <%if post_slide.position.align == "left" %>
          
        <%if post_slide.black == true%>
          <div class="caption left-align", style="color: black;">
            <h3><%= post_slide.title %></h3>
            <h5><%= post_slide.description%></h5>
          </div>
        <%else%>
          <div class="caption left-align">
            <h3><%= post_slide.title %></h3>
            <h5 class="light grey-text text-lighten-3"><%= post_slide.description%></h5>
              <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
              </div>
          </div>
        <%end%>

        <%elsif post_slide.position.align == "center" %>
          
        <%if post_slide.black == true%>
          <div class="caption center-align", style="color: black;">
            <h3><%= post_slide.title %></h3>
            <h5><%= post_slide.description%></h5>
          </div>
        <%else%>
          <div class="caption center-align">
            <h3><%= post_slide.title %></h3>
            <h5 class="light grey-text text-lighten-3"><%= post_slide.description%></h5>
           ]  <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
              </div>
          </div>
        <%end%>

        <%elsif post_slide.position.align == "right"%>
          
        <%if post_slide.black == true%>
          <div class="caption right-align", style="color: black;">
            <h3><%= post_slide.title %></h3>
            <h5><%= post_slide.description%></h5>
          </div>
        <%else%>
          <div class="caption right-align">
            <h3><%= post_slide.title %></h3>
            <h5 class="light grey-text text-lighten-3"><%= post_slide.description%></h5>
              <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
              </div>
          </div>
        <%end%>

        <%end%>
      <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if current_page?(locale: :ru) %>
  <div class="slider">
    <ul class="slides">
    <% @post_slides.each do |post_slide| %>
      <li>
      <% if post_slide.photo.present?%>
        <%= image_tag post_slide.photo.url(:large)%>
        <%if post_slide.position.align == "left" %>
          
        <%if post_slide.black == true%>
          <div class="caption left-align", style="color: black;">
            <h3><%= post_slide.title2 %></h3>
            <h5><%= post_slide.description2%></h5>
            <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
            </div>
          </div>
        <%else%>
          <div class="caption left-align">
            <h3><%= post_slide.title2 %></h3>
            <h5 class="light grey-text text-lighten-3"><%= post_slide.description2%></h5>
              <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
              </div>
          </div>
        <%end%>

        <%elsif post_slide.position.align == "center" %>
          
        <%if post_slide.black == true%>
          <div class="caption center-align", style="color: black;">
            <h3><%= post_slide.title2 %></h3>
            <h5><%= post_slide.description2%></h5>
            <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
            </div>
          </div>
        <%else%>
          <div class="caption center-align">
            <h3><%= post_slide.title2 %></h3>
            <h5 class="light grey-text text-lighten-3"><%= post_slide.description2%></h5>
            <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
            </div>
          </div>
        <%end%>

        <%elsif post_slide.position.align == "right"%>
          
        <%if post_slide.black == true%>
          <div class="caption right-align", style="color: black;">
            <h3><%= post_slide.title2 %></h3>
            <h5><%= post_slide.description2%></h5>
            <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
            </div>
          </div>
        <%else%>
          <div class="caption right-align">
            <h3><%= post_slide.title2 %></h3>
            <h5 class="light grey-text text-lighten-3"><%= post_slide.description2%></h5>
            <div>
              <%= link_to t(:details), post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:edit), edit_post_slide_path(post_slide), class: "waves-effect waves-light btn" %>
              <%= link_to t(:destroy), post_slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %>
            </div>
          </div>
        <%end%>

        <%end%>
      <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="container center">
<%= link_to t(".add"), new_post_slide_path, class: "waves-effect waves-light btn midle" %>
</div>
<% end %>

