<p> <%= @saved_reservation.booking_post.title %> </p>
<p> <%= @saved_reservation.start %> - <%= @saved_reservation.end %> </p>
<p> <%= @saved_reservation.name %> </p>
<p> <%= @saved_reservation.email %> </p>
<p> <%= @saved_reservation.phone_number %> </p>
