<style type="text/css">
  .pagination li.active {
    background: grey;
}
  .pagination li a:hover {
    background: #eeeeee;
  }


  .slider .indicators .indicator-item.active {
    background-color: grey;
  }

</style>
<p id="notice"><%= notice %></p>
<% if current_page?(locale: :ua) %>
<div>
  <div class="slider">
    <ul class="slides">
    <% @post_slides.each do |post_slide| %>
      <% if post_slide.photo.present?%>
      <li>
        <%= image_tag post_slide.photo.url(:large)%>
        <%if post_slide.position.present? %>
            <%if post_slide.position.align == "left" %>
              
            <%if post_slide.black == true%>
              <div class="caption left-align", style="color: black;">
                <h3><%= post_slide.title %></h3>
                <h5><%= post_slide.description%></h5>
              </div>
            <%else%>
              <div class="caption left-align">
                <h3><%= post_slide.title %></h3>
                <h5 class="light grey-text text-lighten-3"><%= post_slide.description%></h5>
              </div>
            <%end%>

            <%elsif post_slide.position.align == "center" %>
              
            <%if post_slide.black == true%>
              <div class="caption center-align", style="color: black;">
                <h3><%= post_slide.title %></h3>
                <h5><%= post_slide.description%></h5>
              </div>
            <%else%>
              <div class="caption center-align">
                <h3><%= post_slide.title %></h3>
                <h5 class="light grey-text text-lighten-3"><%= post_slide.description%></h5>
              </div>
            <%end%>

            <%elsif post_slide.position.align == "right"%>
              
            <%if post_slide.black == true%>
              <div class="caption right-align", style="color: black;">
                <h3><%= post_slide.title %></h3>
                <h5><%= post_slide.description%></h5>
              </div>
            <%else%>
              <div class="caption right-align">
                <h3><%= post_slide.title %></h3>
                <h5 class="light grey-text text-lighten-3"><%= post_slide.description%></h5>
              </div>
            <%end%>
          <%end%>
        <%end%>
          
      
      <%end%>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% if current_page?(locale: :ru) %>
<div>
  <div class="slider">
    <ul class="slides">
    <% @post_slides.each do |post_slide| %>
      <% if post_slide.photo.present?%>
      <li>
        <%= image_tag post_slide.photo.url(:large)%>
        <%if post_slide.position.present? %>
          <%if post_slide.position.align == "left" %>
            
          <%if post_slide.black == true%>
            <div class="caption left-align", style="color: black;">
              <h3><%= post_slide.title2 %></h3>
              <h5><%= post_slide.description2%></h5>
            </div>
          <%else%>
            <div class="caption left-align">
              <h3><%= post_slide.title2 %></h3>
              <h5 class="light grey-text text-lighten-3"><%= post_slide.description2%></h5>
            </div>
          <%end%>

          <%elsif post_slide.position.align == "center" %>
            
          <%if post_slide.black == true%>
            <div class="caption center-align", style="color: black;">
              <h3><%= post_slide.title2 %></h3>
              <h5><%= post_slide.description2%></h5>
            </div>
          <%else%>
            <div class="caption center-align">
              <h3><%= post_slide.title2 %></h3>
              <h5 class="light grey-text text-lighten-3"><%= post_slide.description2%></h5>
            </div>
          <%end%>

          <%elsif post_slide.position.align == "right"%>
            
          <%if post_slide.black == true%>
            <div class="caption right-align", style="color: black;">
              <h3><%= post_slide.title2 %></h3>
              <h5><%= post_slide.description2%></h5>
            </div>
          <%else%>
            <div class="caption right-align">
              <h3><%= post_slide.title2 %></h3>
              <h5 class="light grey-text text-lighten-3"><%= post_slide.description2%></h5>
            </div>
          <%end%>

        <%end%>
        <%end%>
              
      <%end%>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% if current_user.present? and current_user.admin? %>  
  <%= link_to t('.edit_slider'), post_slides_path, class: "waves-effect waves-light btn"  %>
<% end %>


<% if current_user.present? and current_user.admin? %>
  <div class="container center">
    <%= link_to t('.add'), new_post_path, class: "waves-effect waves-light btn midle" %>
  </div>
<% end %>

</br>

<% if current_page?(locale: :ua) %>
<div class="container">    
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card hoverable">
            <div class="card-image">
              <%= image_tag post.photo.url(:large) %>
              <%if post.black == true%>
              <span class="card-title truncate", style="color: black;"><td><%= post.title %></td></span>
              <%else%>
              <span class="card-title truncate"><td><%= post.title %></td></span>
              <%end%>            
            </div>
            <div class="card-content">

              <p><%= truncate(simple_format(post.description), escape: false, length: 300) %></p>
            </div>
            <div class="card-action">
              <%= link_to t(:details), post_path(post) %>
              <%= link_to t(:edit), edit_post_path(post) if current_user.present? and current_user.admin? %>
              <%= link_to t(:destroy), post, method: :delete, data: { confirm: 'Are you sure?' } if current_user.present? and current_user.admin? %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<% end %>

<% if current_page?(locale: :ru) %>
<div class="container">    
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card hoverable">
            <div class="card-image">
              <%= image_tag post.photo.url(:large) %>
              <%if post.black == true%>
              <span class="card-title truncate", style="color: black;"><td><%= post.title2 %></td></span>
              <%else%>
              <span class="card-title truncate"><td><%= post.title2 %></td></span>
              <%end%>            
            </div>
            <div class="card-content">

              <p><%= truncate(simple_format(post.description2), escape: false, length: 300) %></p>
            </div>
            <div class="card-action">
              <%= link_to t(:details), post_path(post) %>
              <%= link_to t(:edit), edit_post_path(post) if current_user.present? and current_user.admin? %>
              <%= link_to t(:destroy), post, method: :delete, data: { confirm: 'Are you sure?' } if current_user.present? and current_user.admin? %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<% end %>
<br>
<div class="center">
<%= will_paginate @posts %>
</div>
<br>
<% if current_user.present? and current_user.admin? %>
  <div class="container center">
  <%= link_to t('.add'), new_post_path, class: "waves-effect waves-light btn midle" %>
  </div>
<% end %>

