<div class="container">
<% if current_user.present? and current_user.admin? %>
<%= form_for(image.album, image, html: {multipart: true}, class: "col s12") do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="file-field input-field">
      <div class="btn">
        <span>Picture</span>
        <%= f.file_field :picture %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit %>
  </div>  
  
<% end %>

</div>